#camVideo{
    background: #f2f2f2;
    width: 250px;
    height: 187px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}
#revievedVideo{
    background: #000;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
#overlay{
    background: #fff;
    color: #000;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#joinForm {
    position: absolute;
    width: 300px;
    height: 250px;
    box-shadow: 0px 2px 5px 0px #999;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    padding: 80px 35px;
    box-sizing: border-box;
}
#joinForm input[type="text"]{
    margin-bottom: 35px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ADA8A8;
    height: 30px;
    border-radius: 3px;
    padding: 2px 10px;
}
#joinForm input[type="submit"]{
    box-sizing: border-box;
    border: 1px solid #ADA8A8;
    background: #07BB03;
    height: 30px;
    font-size: 15px;
    border-radius: 3px;
    width: 60px;
    color: #fff;
    font-family: open sans;
}
#error {
    font-size: 13px;
    font-family: open-sans;
}
